html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}


.hero{
    width: 100%;
    border-bottom: 1px solid rgba(198, 198, 198, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo{
    width: 127px;
}

.user{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 50px;
}


.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-bottom: 10px solid rgb(126, 126, 126);
    
}


.post-header{
    display: flex;
    justify-content: start;
    align-items: center;
}

.avatar{
   width: 34px;
   height: 34px;
   border-radius: 50%; 
}
.typo{
    padding-left: 10px;
}
h5{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}

.image {
    width: 100%;       /* full width on all screens */
    height: auto;      /* keeps correct proportions */
    display: block;
    margin: 0;
    padding: 0;        /* remove left padding */
}


